body {
  background-color: #fafbfc;
}

/* Header
   ========================================================================== */

h1 {
  font: 32px "Nunito ExtraBold", Helvetica, Arial, sans-serif;
  color: #3b3355;
  margin: 32px;
}

.action_button {
  font: bold 14px Nunito, Helvetica, Arial, san-serif;
  color: #fafbfc;
  background-color: #3b3355;
  border: 0;
  height: 48px;
  border-radius: 24px;
  padding: 0 32px;
  cursor: pointer;
}

.action_button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search_bar:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.search_bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #d1cce0;
  border-radius: 24px;
  height: 48px;
}

.search_bar > input {
  height: 32px;
  margin: 8px 16px 8px 8px;
  border: 0;
  background-color: #fafbfc;
  color: #3b3355;
  font: 14px Nunito, Helvetica, Arial, san-serif;
  width: 100%;
}

.search_bar > .ph-magnifying-glass {
  margin-left: 16px;
  color: #3b3355;
}

.controls {
  margin: 16px 32px;
  height: 120px;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
}

/* Book Table
   ========================================================================== */

.book_row {
  font: 14px Nunito, Helvetica, Arial, san-serif;
  color: #3b3355;
  margin: 16px 32px 8px 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #3b3355;
}

.book_row > p {
  font: 16px/32px Nunito, Helvetica, Arial, san-serif;
  margin: 0;
  color: #3b3355;
}

.book_row > .book_control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.book_row i {
  cursor: pointer;
  padding: 0 16px;2
}

/* Slider switch
   ========================================================================== */

.slider {
  transition: 0.4s;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.slider > input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider > label {
  display: inline-block;
  width: 44px;
  height: 24px;
  background-color: #d1cce0;
  border-radius: 24px;
  transition: 0.3s;
  margin-left: 8px;
  cursor: pointer;
}

.slider > label::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fafbfc;
  border-radius: 20px;
  margin: 2px;
  transition: 0.3s;
}

.slider > input:checked + label {
  background-color: #3b3355;
}

.slider > input:checked + label::before {
  margin-left: 22px;
}

/* Add book pop-up
   ========================================================================== */

.pop {
  visibility: hidden;
  width: 90%;
  position: absolute;
  top: 96px;
  left: calc((100vw - 90%) / 2);
  background-color: #fafbfc;
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.1),
    -12.5px -12.5px 20px rgba(0, 0, 0, 0.1), 0 100px 80px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 32px;
  box-sizing: border-box;
}

.pop i {
  align-self: flex-end;
  cursor: pointer;
}

.pop label,
.pop p {
  font: bold 16px Nunito, Helvetica, Arial, san-serif;
  margin: 0px 0 8px 16px;
}

.pop input[type="text"] {
  margin-bottom: 24px;
  height: 48px;
  width: 100%;
  background-color: #fafbfc;
  border: 1px solid #d1cce0;
  border-radius: 12px;
  box-sizing: border-box;
  padding-left: 32px;
  font: 14px Nunito, Helvetica, Arial, san-serif;
}

.pop label {
  display: block;
}

#pop_toggle {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
}

h2 {
  font: 32px Nunito, Helvetica, Arial, san-serif;
  color: #3b3355;
  text-align: center;
  display: block;
  margin: 64px;
}

/* Media Queries
   ========================================================================== */

@media screen and (min-width: 500px) {
  .controls {
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 48px;
  }

  .search_bar {
    margin-left: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .book_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.book_control {
    width: auto;
  }

  .book_row > * {
    flex: 1;
  }



}
